html {
	scroll-behavior: smooth;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
.navbar-brand{
	font-size: 40px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



  
  .container-text {
    font-family: Arial, sans-serif; /* Font seçimi */
    font-size: 18px; /* Yazı boyutu */
    line-height: 1.6; /* Satır aralığı */
	background-image: url(girişresim.jpg);
    background-size:cover; /* Resmin boyutunu uyumlu hale getirme */
    background-position: center; /* Resmi ortala */
	padding: 20px; /* Yazı içeriği ile kenarlar arasında bir mesafe bırakmak için padding */
    position: relative; /* Mutlak pozisyonlama için container'ı relative olarak ayarlar */
	height: 100vh;
}

.row-text {
    color: rgb(9, 7, 148); /* Metin rengi */
    margin-bottom: 20px; /* Sıralar arası boşluk */
}








  .container .navbar {
	width: 100%;
	height: 80px;
	background: rgba(7, 22, 235, 0.4);
  }
  
  .navbar .logo {
	display: inline-block;
	margin-left: 50px;
	margin-top: 20px;
  }
  
  .navbar .logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: 'Franklin Gothic Medium';
	color: #f3f3f3;
  }
  
  .navbar ul {
	float: right;
	margin-right: 20px;
  }
  
  .navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
  }
  
  .navbar ul li a {
	color: white;
	text-decoration: dotted;
	font-size: 20px;
	padding: 6px 14px;
	font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .navbar ul li a.active,
  .navbar ul li a:hover {
	background: rgb(12, 213, 240);
	border-radius: 2px;
  }


  /* Eklenen Stiller */
  form {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 300px; /* Form genişliği */
	margin: auto; /* Ortalama */
	margin-top: 50px; /* Üstten boşluk */
  }
  
  label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  
  input[type="submit"] {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type="submit"]:hover {
	background-color: #45a049;
  }
  
  p.error-message {
	color: #ff3333;
	font-weight: bold;
  }

  .text {
	text-align: center;
  }
  

  .image-container {
	max-width: 1200px;
	width: 95% ;
  }

  .slider-wrapper .image-list {
	display: grid;
	gap:18px;
	font-size: 0;
	overflow-x: auto;
	grid-template-columns: repeat(10, 1fr);
  }
  
  .slider-wrapper .image-list .image-item {
	width: 325px;
	height: 400px;
	object-fit: cover;
  }


  .text ,
  .text2 {
    margin-bottom: 50px; 
}

.text,
.text2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px; 
    line-height: 1.6; 
	text-align: left; 
}

.image-container {
    margin-top: 20px;
}

.text3 {
    margin-bottom: 50px; 
}


.text3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 18px; 
    line-height: 1.6; 
	text-align: left; 
}
