div{
background-color:#4F3977;
color:#ECDEDE;
font-family:"Gill Sans", Helvetica, Arial, sans-serif;
font-size:12px;
}
div.a{
background-color:#C4A9A9;
color:#410506;





body {
	background-color:#red;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: white;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}



.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}